#main .inner {
  position: relative;
}
#panels-container {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  background-color: var(--colorBg);
}
#panels-container.right {
  right: 0;
}

.button-toolbar.home,
.button-toolbar.rewind,
.button-toolbar.next {
  display: none;
}

.tab-header {
  font-variant: small-caps;
  font-size: 18px;
  padding: 0 0 0 6px;
}

.tab-header .title {
  padding-bottom: 6ox;
}
