'.source.js':
  'React.js component':
    'prefix': 'rclass'
    'body': """
    import React from 'react';

    import styles from './styles.scss';

    class ${1:class} extends React.Component {
      constructor(props) {
        super(props);
      }

      render() {
        let {

        } = this.props;
        return (

        );
      }
    }

    export default $1;
    """
  'Mocha test':
    'prefix': 'mochatest'
    'body': """
    describe('$1', () => {
      it('$2', () => {

      });
    });
    """

  'Reducer':
    'prefix': 'reducer'
    'body': """
    import {

    } from $1;

    const initialState = {

    };

    export default function $2Reducer(state=initialState, action) {
      switch(action.type) {
        default:
        return state;
      }
    }
    """

  'String formatting':
    'prefix': 'sform'
    'body': '`${}`'
