'.source.js':
  'React.js component':
    'prefix': 'rclass'
    'body': """
    import React from 'react';
    import PropTypes from 'prop-types';

    import styles from './styles.scss';

    class ${1:class} extends React.Component {
      constructor(props) {
        super(props);
      }

      render() {
        let {

        } = this.props;

        return (

        );
      }
    }

    $1.propTypes = {

    };

    export default $1;
    """
  'Mocha test':
    'prefix': 'mochatest'
    'body': """
    describe('$1', () => {
      it('$2', () => {

      });
    });
    """

  'Reducer':
    'prefix': 'reducer'
    'body': """
    import {

    } from $1;

    const initialState = {

    };

    export default function $2Reducer(state=initialState, action) {
      switch(action.type) {
        default:
        return state;
      }
    }
    """

  'String formatting':
    'prefix': 'sform'
    'body': '`${}`'

  'Local import':
    'prefix': 'localimp'
    'body': "import ${1:name} from './$1';"

  'React.js functional component':
    'prefix': 'funcomp'
    'body': """
    import React from 'react';
    import PropTypes from 'prop-types';

    import styles from './styles.scss';

    const ${1:name} = props => {
      return (

      );
    }

    $1.propTypes = {

    };

    export default $1;
    """

'.source.gfm':
  'API endpoint documentation entry':
    'prefix': 'apiendp'
    'body': """
    ## ${1:url}
    ${2:description}

    ##### URL

        $1

    ##### Method

        ${3:method}

    ##### URL Params

    Param | Required? | Type | Description
    :-----|:----------|:-----|:-----------
          |           |      |
          |           |      |

    ##### Body Params

    Param | Required? | Type | Description
    :-----|:----------|:-----|:-----------
          |           |      |
          |           |      |

    ##### Success response

    ###### HTTP Code

        ${5:http_code_success}

    ###### Content

    Key | Type | Description
    :---|:-----|:-----------
        |      |

    ##### Error response

    ###### HTTP Code

        ${6:http_code_error}

    ###### Content

    Key | Type | Description
    :---|:-----|:-----------
        |      |

    ##### Sample call

    ```javascript
    ${7:sample_call}
    ```

    ##### Sample response

    ```json
    ${8:json_content}
    ```
    """
