// Make the command palette look more like the Emacs minibuffer

atom-panel-container.modal {
  position: relative;
}

atom-panel.modal {
  max-width: 100%;
  padding: 0;
  margin: 0;

  &.from-top {
    top: auto;
  }

  &:after,
  &:before {
    content: none;
  }
}

.command-palette {
  display: flex;
  flex-flow: column;
  width: 100%;

  ol.list-group {
    margin: 0.5rem;
    margin-bottom: 0;
    order: 0;
  }

  atom-text-editor[mini] {
    margin: 0.5rem;
    order: 1;

    &.is-focused {
      border: none;
      box-shadow: none;
    }

    &:before {
      content: "M-x ";
      font-weight: bold;
      white-space: nowrap;
      padding-right: 1rem;
    }
  }
}
